<ng-progress></ng-progress>
<div class="container mt-3">
    <div class="row">
        <hr class="success">
        <h2 class=" p-2 text-center">Adopters</h2>
        <hr class="success">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <table class="table table-success table-striped table-hover p-3">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Id Number</th>
                    <th scope="col">Location</th>
                    <th scope="col">Marital Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let item of adopter' routerLink='/adopter/{{item.id}}'>
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.first_name}}</td>
                    <td>{{item.last_name}}</td>
                    <td>{{item.surname}}</td>
                    <td>{{item.gender}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.phone_number}}</td>
                    <td>{{item.id_number}}</td>
                    <td>{{item.location}}</td>
                    <td>{{item.marital_status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>