<ng-progress></ng-progress>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <img src="../../../../assets/images/AE2uBSYnCVM.jpg" class="d-block w-100" alt="..." height="700">
                    <div class="carousel-caption d-none d-md-block">
                      <h5 class="text-white">Innovate our younger generations</h5>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="../../../../assets/images/joy.png" class="d-block w-100" alt="..." height="700">
                    <div class="carousel-caption d-none d-md-block">
                      <h5 class="text-white">There's nothing as genuine as a child's smile</h5>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <h3 class="text-center fs-1 text-success">What We Do</h3>
        </div>
        <div class="col-md-12">
            <p class="text-center">
                Joy Children's Home Ruiru is a place dedicated to take care of homeless children, and other children that may require 
                our help. Our main goal is to create an environment where the children will feel like home and have a chance to 
                create a great future for themselves because we believe they are the <em>leaders</em> of tomorrow.
            </p>
            <p class="text-center">
                We do our best to make sure our children meet the right people who may help them build up on their interests. These interests 
                may be educational or even talents. Pushing our children to work hard on what they like to do helps us enhance their sense of 
                self awareness.
            </p>
        </div>
    </div>
</div>